@model EmployeeMangSystem.Models.User
@{
    ViewBag.Title = "Login";

}
<link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
<div class="login_page">
     <div class="form">
   

        @using (Html.BeginForm())
        {
           @Html.AntiForgeryToken()

            <div class="card custom-card">

                <div class="card-body">
                    <h3>User Login</h3>
                    <div class=" card-header bg-primary text-white"></div>

                    <br>
                    <div class="card-body">
                        <div class=" form-group">
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="card-body">
                            @Html.LabelFor(m => m.Password)
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary rounded-0">Login</button>
                        </div>
                    </div>
                </div>
             </div>

        }
     </div>

</div>

        


